body {
    width: 100%;
    display: grid;
    justify-content: center;
}

#container {
    border: solid;
    border-width: 1px;
	width: 275px;
    display: grid;
    grid-template-rows: 65px 1fr 2fr;
}

#top,
#bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-section,
.bottom-section {
    display: grid;
    background-color: lightgrey;
}

.top-section {
    grid-template-rows: 1fr 1fr;
}

.bottom-section {
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#button-section {
    background-color: black;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.button-div {
    display: grid;
}

button {
    border-radius: 10px;
    padding: 8px;
    width: 100px;
    border: none;
}

#generate {
    background-color: limegreen;
}

#reset {
    background-color: lightgray;
}

.data {
    border: solid;
    border-width: 1px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    padding-top: 15px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

#sales-div,
#hours-div {
    background-color: limegreen;
}

.display {
    background-color: white;
}

.display,
input {
    border: solid;
    border-width: 1px;
    display: grid;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    font-size: 14px;
    justify-content: center;
    align-content: center;
}

input {
    text-align: center;
}

.error {
    border-color: red;
}

.label {
    display: grid;
    margin-top: 10px;
}
